main {
  /*border: black 1px solid;*/
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main section {
  /*border: black 1px solid;*/
  width: 75%;
}
/*------------- INFORMACIÓN ------------*/
#infoCursoPrincipal {
  /*border: black 1px solid;*/
  display: flex;
  justify-content: space-around;
  margin: 0 3%;
}
#infoCursoPrincipal div {
  width: 100%;
  margin: 0 3%;
}
#infoCursoPrincipal img {
  border-radius: 20px;
  width: 35%;
  height: 30%;
  align-self: center;
  margin-left: 10px;
}
#infoCursoPrincipal h2 {
  font-size: 35px;
  margin-bottom: 15px;
}
#infoCursoPrincipal li {
  list-style: none;
  font-size: 18px;
  margin-bottom: 10px;
}
/*------------- REQUISITOS ------------*/
#requisito {
  /*border: black 1px solid;*/
  display: flex;
  flex-direction: column;
  margin: 20px;
}
#requisito h4 {
  margin-top: 15px;
  font-size: 18px;
}
#requisito ul {
  padding-left: 30px;
  margin-top: 10px;
}
#requisito .enviar {
  border: #ff5b00 2px solid;
  height: 40px;
  margin: 5px 25px;
  align-self: flex-end;
}
.enviar a {
  text-decoration: none;
  color: black;
}
/*------------- DOCENTE ------------*/
#docente {
  border: #ff5b00 2px solid;
  background-color: #ffe6c7;
  border-radius: 20px;
  padding: 20px;
  margin: 1% 6%;
}
#docente div {
  display: flex;
  align-items: center;
}
#docente img {
  width: 8%;
}
#docente h2 {
  margin-left: 15px;
}
#docente p {
  margin-top: 15px;
}
/*------------- OTROS CURSOS ------------*/
aside {
  /*border: black 1px solid;*/
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 5px;
}
.infocurso {
  border: #522710 2px solid;
  background-color: #ffa559;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1%;
}
.infocurso h4 {
  font-size: 20px;
  margin: 5%;
}
.infocurso ul {
  list-style: none;
  padding: 0 0 0 0;
  width: max-content;
}
.infocurso ul li{
/* Vacio */
}
.infocurso .enviar {
  border: #ff5b00 2px solid;
  align-self: flex-end;
  margin: 5% 5% 3% 0;
}
.infocurso .enviar a {
  text-decoration: none;
  color: black;
}
.dropdown-content {
  display: none;
  padding: 5px;
}
.dropdown-content a,
.dropdown-content input[type="radio"] {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content input[type="radio"] {
  margin-right: 5px;
}
.dropdown-btn {
  cursor: pointer;
  padding: 10px;
  width: 100%;
  max-width: 1000px;
  text-align: left;
  outline: none;
  background-color: #f1f1f1;
  border: 1px solid orangered;
  cursor: pointer;
}
.dropdown-btn:hover {
  background-color: #ddd;
}
.dropdown-btn:after {
  content: "\002B";
  color: #777;
  float: right;
  font-weight: bold;
  margin-left: 5px;
}
.dropdown-btn.active:after {
  content: "\2212";
}
/*.dropdown-content a {
    display: block;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
/*.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-btn {
    display: flex;
    padding: 1%;
    background-color: #f1f1f1;
    border: 1px solid orangered;
    cursor: pointer;
    width: 45%;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1;
  }
  .dropdown-content.open {
    display: flex;
    flex-direction: column;    
  }
  .dropdown-content a {
    display: block;
  }
  .dropdown-content label, a{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.dropdown{
  display: flex;
  flex-direction: column;
}
/*--------------------------Media Query--------------------------*/
/* PARA Tablets*/
@media screen and (max-width: 1024px) {
  main section{
    width: 100%;
  }
  aside {
    /*border: black 1px solid;*/
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .infocurso  {
    width: 200px;
  }
}
/* PARA Celulares*/
@media screen and (max-width: 600px) {
  aside {
    flex-direction: column;
  }
  .infocurso  {
    width: auto;
    margin: 1% 3%;
  }
  .infocurso h4 {
    margin: 1%;
  }
  .infocurso ul {
    /* Vacio x ahora */
  }
  .infocurso .enviar {
    margin: 0% 5% 1% 0;
  }
  #infoCursoPrincipal img {
    width: 80%;
  }
  #infoCursoPrincipal{
    flex-direction: column-reverse;
  }
}